# Change to your local development backend URL. The default is http://localhost:8080.
# When deploying to production, change this to the URL of your deployed backend.
VITE_API_URL=http://localhost:8080