# Vue.js FastAPI TypeScript Project Template

This is a simple project template for a Vue.js and FastAPI project, set up to be a monorepo. It is intended for fast prototyping of web apps that use LLMs.